.service-container{
    background-image: url('https://i.pinimg.com/564x/fb/2d/c6/fb2dc660382ed5d47f4b21dd87c56b23.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}