.custom-card{
    border: 2px solid #0dcaf0;
    border-radius: 15px;
}
.custom-card:hover{
    box-shadow: rgba(124, 241, 245, 0.76) 0px 5px 15px;
}
.custom-card img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 300px;
    width: 100%;
}