.google-map{
    background-image: url('https://i.pinimg.com/564x/7b/b8/88/7bb888cc6377c68becabaf25549ad6da.jpg');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}