.google-map{
    background-image: url('../../../images/google-map.png');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}